@import models.entities.Department
@(departments: List[Department])

@main("Departments") {
    <h1 class="text text-success">@flash.get("success")</h1>
    <table class="table" >
    @for(department <- departments) {
        <tr class="active">
            <td>@department.getId</td>
            <td>@department.getName</td>
            <td>
                <a class="btn btn-default btn-sm" href="@routes.DepartmentController.edit(department.getId)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target=#@department.getId>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <div class="modal fade" id=@department.getId tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog">

                            <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-info">Please confirm deletion</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure, you want to delete person @department.getName?
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" href="@routes.DepartmentController.delete(department.getId)">Delete</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    }
    </table>
}