@import models.entities.Person
@import java.text.SimpleDateFormat

@(persons: List[Person], page: Int, lastPage: Int, itemsPerPage: Int)

    @activePage(iterablePage: Int) = @{
        if(iterablePage == page) "active"
    }

    @previousPage() = @{
        if(page == 1) "disabled"
    }

    @nextPage() = @{
        if(page == lastPage) "disabled"
    }

    @routeToPreviousPage() = @{
        if(page == 1) "javascript:void(0)"
        else routes.PersonController.listPage(page - 1)
    }

    @routeToNextPage() = @{
        if(page == lastPage) "javascript:void(0)"
        else routes.PersonController.listPage(page + 1)
    }

    <div id="updateable" xmlns="http://www.w3.org/1999/html">
        <h1 class="text text-success">@flash.get("success")</h1>
        <form class="navbar-form" method="get" action="@routes.PersonController.listSearchResult()">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <input type="text" class="form-control" name="search" placeholder="Search...">
            </div>
        </form>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="@previousPage()">
                    <a class = "ajaxPageUpdate" href="@routeToPreviousPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for(i <- 1 to lastPage) {
                    <li class="@activePage(i)"><a class = "ajaxPageUpdate" href="@routes.PersonController.listPage(i)">@i</a></li>
                }
                <li class="@nextPage()">
                    <a class = "ajaxPageUpdate" href="@routeToNextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <table class="table" >

        @for((person, index) <- persons.zipWithIndex) {

            <tr class="active">
                <td>@{
                    index + 1 + (page - 1) * itemsPerPage
                }</td>
                <td>@person.getId</td>
                <td>@person.getFirstName</td>
                <td>@person.getSurname</td>
                <td>@person.getEmail</td>
                <td>@(new SimpleDateFormat("yyyy-MM-dd HH:mm").format(person.getRegistrationDate))</td>
                <td>
                    <a class="btn btn-default btn-sm" href="@routes.PersonController.edit(person.getId)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target=#@person.getId>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <div class="modal fade" id=@person.getId tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog">

                                <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-info">Please confirm deletion</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure, you want to delete person @person.getFirstName @person.getSurname?
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="@routes.PersonController.delete(person.getId)">Delete</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </td>
            </tr>
        }
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <li class="@previousPage()">
                    <a class = "ajaxPageUpdate" href="@routeToPreviousPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for(i <- 1 to lastPage) {
                    <li class="@activePage(i)"><a class = "ajaxPageUpdate" href="@routes.PersonController.listPage(i)">@i</a></li>
                }
                <li class="@nextPage()">
                    <a class = "ajaxPageUpdate" href="@routeToNextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>


