@(numbers: ArrayList[Integer])

@main("for array") {

    <div class="well">
        custom content
    </div>

    <ul class="list-group" >
        @for(item <- numbers) {
            <li class="list-group-item">
                @item
            </li>
        }
    </ul>

    <a class="btn btn-default" href="@routes.HomeController.index">
        go home
    </a>

}